<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr color="orange" />
    <h1 align="center"> EJS About Us </h1>
    <hr color="green" />

    <!-- "=" is only used when we have to print value of variable -->
    <!-- This is known as conditional rendering -->

    <%  let isValid = true;    %>

    <% if(isValid) { %>
    
        <h1> Hello from if Block </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor maiores nulla corporis corrupti. Est quo, labore ab reprehenderit praesentium aperiam quasi possimus et natus beatae sed eius sapiente doloremque doloribus!
        </p>

    <%  } else { %> 

        <h1> Hello from Else Block</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates suscipit quisquam id atque sapiente nulla earum magni eius reprehenderit dicta, ex, ipsa tenetur nemo nam quia. Blanditiis aliquid dignissimos molestiae.
        </p>

    <% } %>

    <% let num = 0;  %>
    <% if(num == 0) { %> 
        <h5> Number is Zero</h5>
    <% } else if(num>0) { %>
        <h5> Number is Positive </h5>
    <% } else {%>
        <h5> Number is Negative </h5>
    <% } %>
    
</body>
</html>