<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheet/myStyle.css" type="text/css" rel="stylesheet">
</head>
<body>
    <hr color="orange" />
    <h1 align="center"> Home Page</h1>
    <hr color="green" />

    <!-- To add image on webpage we need to public formHandler
    To use public folder we need to use middlewares -->
    <img src="/image/rapunzel.jpg" />
</body>
</html>